@import url("https://fonts.googleapis.com/css?famiily=Inter:400,500,600");

:root {
    --black: rgba(24, 24, 24, 1);
    --black-2: rgba(0, 0, 0, 1);
    --black-3: rgba(0, 0, 0, 0.5);
    --shark: rgba(36, 36, 36, 1);
    --gray: rgba(130, 130, 130, 1);
    --gray-1: rgba(88, 88, 88, 1);
    --gray-2: rgba(151, 151, 151, 1);
    --pink-swan: rgba(184, 184, 184, 1);
    --orange: rgba(255, 155, 7, 1);
    --element: rgba(255, 255, 255, 0.1);
    --white: rgba(235, 235, 235, 1);
    --white-2: rgba(255, 255, 255, 1);

    --font-size-xxs: 12px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 32px;
    --font-size-xxl: 44px;

    --font-family-inter: "Inter";
}

.inter_medium_cararra_16px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
}

.inter_normal_cararra_18px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.inter_semi_bold_california_16px {
    color: var(--orange);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 600;
    font-style: normal;
}

.inter_normal_mountain_mist_14px {
    color: var(--gray-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.main1920 {
    align-items: center;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    border: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    margin-top: 30px;
    width: 1200px;
}

.flex_row_1 {
    align-items: center;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
    height: 44px;
    min-width: 215px;
}

.reg_and_in {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 30px;
    width: fit-content;
}

.frame_12 {
    align-items: center;
    border: 4px solid;
    border-color: var(--orange);
    border-radius: 100px;
    display: flex;
    height: 40px;
    width: 34px;
    margin-top: 2px;
    padding: 0 3px;
}

.flex_col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    min-height: 26px;
    width: 8px;
}

.rectangle-3 {
    background-color: var(--orange);
    border: 4px none;
    border-radius: 100px;
    height: 4px;
    margin-left: 2px;
    margin-top: 3px;
    width: 4px;
}

.rectangle_3-1 {
    background-color: var(--element);
    border: 1px none;
    height: 1px;
    margin-top: 30px;
    width: 1200px;
}

.rectangle-4 {
    background-color: var(--orange);
    border: 4px none;
    border-radius: 100px;
    height: 8px;
    width: 8px;
}
.rectangle-5 {
    background-color: var(--orange);
    border: 4px none;
    border-radius: 100px;
    margin-top: 3px;
    height: 8px;
    width: 8px;
}

.rectangle_4-1 {
    background-color: var(--white-2);
    border: 1px none;
    border-radius: 10px;
    position: absolute;
    height: 2px;
    width: 16px;
    left: 0;
    top: 7px;
}

.rectangle_5-1 {
    background-color: var(--white-2);
    border: 1px none;
    border-radius: 10px;
    position: absolute;
    height: 2px;
    width: 16px;
    left: 0;
    top: 7px;
    transform: rotate(90deg);
}

.rectangle_6 {
    background-color: var(--orange);
    border: 4px none;
    border-radius: 100px;
    height: 8px;
    width: 8px;
    margin-bottom: 1px;
    margin-left: 5px;
    transform: rotate(90deg);
}

.rectangle_7 {
    background-color: var(--orange);
    border: 4px none;
    border-radius: 100px;
    height: 8px;    
    width: 8px;
    margin-bottom: 1px;
    transform: rotate(90deg);
}

.ellipse {
    background-color: var(--element);
    border: 1px none;
    border-radius: 2px;
    height: 4px;
    min-width: 4px;
}

.text_label {
    color: var(--white-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
}

.text_label_2 {
    color: var(--orange);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -2px;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
}

.text {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text_1_1 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 851px;
    min-height: 19px;
    min-width: 229px;
    text-align: right;
}

.text_13 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0;
    white-space: nowrap;
    min-width: 500px;
}

.text_14 {
    letter-spacing: 0;
    margin-top: -1px;
    text-align: right;
    width: fit-content;
}

.text_15 {
    color: var(--gray-1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    letter-spacing: 0;
    margin-top: -1px;
    width: fit-content;
}

.text_16 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 600;
    letter-spacing: 0;
    margin-left: 18px;
    min-height: 44px;
    width: 155px;
}

.text_orange {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -2px;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
}

.text_add {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
}

.text_feedback {
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 40px;
    min-height: 336px;
    width: 900px;
}

.quan_comm {
    color: var(--orange);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    text-align: right;
    letter-spacing: 0;
    margin: 0;
}

.flex_row_2 {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 30px;
    min-width: 1200px;
}

.flex_row_3 {
    align-items: center;
    display: flex;
    gap: 40px;
    margin: 30px;
    min-width: 1200px;
    justify-content: space-between;
}

.flex_row_name {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 210px;
}

.flex_col_1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1px;
    min-height: 470px;
    width: 215px;
}

.flex_col_2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 470px;
    max-width: 1200px;
}

.image {
    height: 390px;
    width: 260px;
    object-fit: cover;
    border-radius: 20px;
}

.button {
    align-items: center;
    border: 2px solid;
    border-color: var(--orange);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    text-decoration: none;
}

.button_back {
    align-items: center;
    align-self: flex-end;
    border: 2px solid;
    border-color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    margin: 1px;
}

.button_add {
    align-items: center;
    align-self: flex-end;
    background-color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    width: fit-content;
}

.comment {
    gap: 0;
    height: 40px;
    vertical-align: text-top;
    justify-content: flex-end;
}

.add {
    border: 1px none;
    height: 20px;
    width: 20px;
}

.overlap_group {
    height: 16px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 16px;
}

.play {
    height: 20px;
    width: 20px;
}

.info_add {
    align-items: center;
    border: 1px none;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
    width: fit-content;
}

.info {
    color: var(--orange);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    min-height: 19px;
    min-height: 121px;
    text-decoration: none;
}

.footer {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    min-height: 100px;
    width: 1200px;
}